*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
    width: 100%;
    min-height: 100vh;
    background: #1F0F42;
}
.Container{
    position: relative;
    width: 1024px;
    height: 2508px;
}
.Name{
    position: absolute;
    width: 139px;
    height: 38px;
    left: 7%;
    top: 3rem;

    font-family: 'Outfit';
    font-style: normal;
    font-weight: 900;
    font-size: 2em;
    line-height: 38px;

    color: #FFFFFF;
}
.nav{
    position: absolute;
    width: 50%;
    height: 33px;
    left: 50%;
    top: 3rem;
}
.nav ul li{
    display: inline-block;
    padding: 5px;
}
.nav ul li a{
    padding: 10px;
    text-decoration: none;
    font-family: 'Outfit', sans-serif;
    color: rgb(255, 255, 255);
    font-style: normal;
    font-weight: 400;
    font-size: 1.3rem;
    line-height: 25px;
    text-align: center;
}
.button1 {
    width: 88px;
    height: 33px;
    left: 864px;
    top: 56px;
    background: linear-gradient(90deg, #FDDC2D 0%, #FB3AB9 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    border-style: none;
}
a{
    text-decoration: none;
    font-family: 'Outfit', sans-serif;
    color: rgb(255, 255, 255);
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
}
.dotB {
    position: absolute;
    width: 279px;
    height: 279px;
    left: 72px;
    top: -164px;
    
    background: #8791EA;
    filter: blur(75px);
}
.dotY{
    position: absolute;
    width: 289px;
    height: 289px;
    left: 585px;
    top: 350px;
    
    background: #FFEA79;
    filter: blur(75px);
}
.dotP{
    position: absolute;
    width: 286.93px;
    height: 397px;
    left: 72px;
    top: 806px;
    
    background: #FC10AC;
    filter: blur(75px);
}
.dotpR{
    position: absolute;
    width: 317px;
    height: 317px;
    left: 578px;
    top: 1902px;
    
    background: rgba(157, 81, 217, 0.98);
    filter: blur(50px);
}

.p1{
    position: absolute;
    width: 33.75em;
    height: 33.75em;
    left: 45%;
    top: 1rem;
}
.Title{
    position: absolute;
    width: 24.5em;
    height: 24.5em;
    left: 10%;
    top: 11em;
}
.Title h1{
    position: absolute;
    width: 592px;
    height: 332px;
    left:  0px;
    top: 100px;
    
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 700;
    font-size: 3em;
    line-height: 1.2em;
    align-items: center;
    
    color: #FFFFFF;
}
.Title .Apt{
    position: absolute;
    width: 175px;
    height: 46px;
    left:0px;
    top: 300px;
    
    background: #FDDC2D;
    border-radius: 50px;
    border-style: none;
}
.Title .Apt a{
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    text-align: center;

    color: #FFFFFF;
}
.p2{
    position: absolute;
    width: 32em;
    height: 34em;
    left: 5%;
    top: 38em;
}
.dscpt1{
    position: absolute;
    width: 347px;
    height: 210px;
    left: 55%;
    top: 720px;
}
.dscpt1 h1{
    position: absolute;
    width: 400px;
    height: 50px;
    left: 0px;
    top: 0px;

    font-family: 'Outfit';
    font-style: normal;
    font-weight: 700;
    font-size: 2.5em;
    line-height: 3em;
    align-items: center;
    
    color: #FFFFFF;
}
.dscpt1 p{
    position: absolute;
    width: 341px;
    height: 152px;
    left: 0px;
    top: 100px;
    
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 38px;
    align-items: center;
    
    color: #B390FE;
}
.p3{
    position: absolute;
    width: 366.68px;
    height: 430px;
    left: 60%;
    top: 1072px;
}
.dscpt2{
    position: absolute;
    width: 380px;
    height: 214px;
    left: 10%;
    top: 1225px;        
}
.dscpt2 h1{
    position: absolute;
    width: 400px;
    height: 50px;
    left: 0px;
    top: 0px;

    font-family: 'Outfit';
    font-style: normal;
    font-weight: 700;
    font-size: 2.5em;
    line-height: 3em;
    align-items: center;

    color: #FFFFFF;
}
.dscpt2 p{
    position: absolute;
    width: 320px;
    height: 152px;
    left: 0px;
    top: 100px;

    font-family: 'Outfit';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 38px;
    align-items: center;

    color: #B390FE;
}
.p4{
    position: absolute;
    width: 349px;
    height: 400.3px;
    left: 10%;
    top: 1556px;
}
.dscpt3{
    position: absolute;
    width: 302px;
    height: 215px;
    left: 60%;
    top: 1630px;
}
.dscpt3 h1{
    position: absolute;
    width: 321px;
    height: 50px;
    left: 0px;
    top: 0px;

    font-family: 'Outfit';
    font-style: normal;
    font-weight: 700;
    font-size: 2.5em;
    line-height: 3em;
    align-items: center;

    color: #FFFFFF;
}
.dscpt3 p{
    position: absolute;
    width: 321px;
    height: 152px;
    left: 0px;
    top: 100px;
    
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 38px;
    align-items: center;
    
    color: #B390FE;
}
.Developers{
    position: absolute;
    width: 70%;
    height: 10%;
    left: 142px;
    top: 2039px;
    
    background: linear-gradient(270deg, #FDDC2D 0%, rgba(158, 48, 245, 0.98) 100%);
    border-radius: 50px;
}
.Developers h1{
    position: absolute;
    width: 440px;
    height: 63px;
    left: 150px;
    top: 1em;
    
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 63px;
    
    display: flex;
    align-items: center;
    
    color: #FFFFFF;
}
.Developers .Click{
    position: absolute;
    width: 163px;
    height: 53px;
    left: 280px;
    top: 10em;

    background: #141100;
    border-radius: 50px;
    border-style: none;
}
.contacts{
    position: absolute;
    width: 948px;
    height: 101.66px;
    left: 0px;
    top: 2343px;
}
.contacts .OH {
    position: absolute;
    width: 336px;
    height: 71px;
    left: 38px;
    top: 0px;

}
.contacts .OH p{ 
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    
    color: #FFFFFF;
}
.contacts .Address{
    position: absolute;
    width: 316px;
    height: 94.66px;
    left: 399px;
    top: 0px;
} 
.contacts .Address p{
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    
    color: #FFFFFF;
}
.contacts .Email{
    position: absolute;
    width: 246px;
    height: 47.33px;
    left: 740px;
    top: 0px;
}
.contacts .Email p{
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
 
    color: #FFFFFF;
}

.line{
    position: absolute;
    width: 100%;
    height: 1%;
    left: 0px;
    top: 2489px;

    background: linear-gradient(89.99deg, #FFEB85 -0.59%, #FC10AC 99.99%);

}


@media only screen and (min-width: 1366px){
    .Container{
        width: 1366px;
    }
    .nav {
        width:60%;
        left: 50%;
    }
    .nav ul li{
        padding-left:3em;
    }
    .nav ul li a{
        font-size: 1.5rem;
    }
    .dotB{
        position: absolute;
        width: 369.19px;
        height: 369.19px;
        left: 70.44px;
        top: -149.44px;
        
        background: #8791EA;
        filter: blur(100px);
    }
    .dotY{
        position: absolute;
        width: 453.03px;
        height: 453.03px;
        left: 770px;
        top: 234.53px;
        
        background: #FFEA79;
        filter: blur(100px);
    }
    .dotP{
        position: absolute;
        width: 416.14px;
        height: 416.14px;
        left: 93px;
        top: 970.89px;
        
        background: #FC10AC;
        filter: blur(75px);
    }
    .dotpR{
        position: absolute;
        width: 508px;
        height: 502.23px;
        left: 667px;
        top: 1337.53px;
        
        background: rgba(157, 81, 217, 0.98);
        filter: blur(115px);
    }
    .p1{
        position: absolute;
        width: 536.56px;
        height: 543.08px;
        left: 648px;
        top: 0px;
    }
    .Title{
        top:6em;
        font-size: 20px;
        line-height: 100px;
    }
    .Title .Apt{
        top:350px;
    }
    .p2{
        width: 40em;
        height: 43em;
        top: 33em;
    }
    .dscpt1{
        left:55%;
    }
    .dscpt1 h1{
        width: 500px;
        height: 50px;
        font-size: 3em;
        line-height: 3em;
    }
    .dscpt1 p{
        top: 120px;
    }
    .p3{
        width: 28em;
        height: 32em;
        top:65em;
        left: 55%;
    }
    .dscpt2{
        left:12%;
    }
    .dscpt2 h1{
        width: 500px;
        height: 50px;
        font-size: 3em;
        line-height: 3em;
    }
    .dscpt2 p{
        top: 120px;
    }
    .p4{
        width: 25em;
        height: 28em;
    }
    .dscpt3{
        left:55%;
    }
    .dscpt3 h1{
        width: 500px;
        height: 50px;
        font-size: 3em;
        line-height: 3em;
    }
    .dscpt3 p{
        top: 120px;
    }

    .Developers{
        left: 185px;
    }
    .Developers h1{
        left: 260px;
    }
    .Developers .Click{
        left: 400px;
    }
    .contacts{
        left: 155px;
    }    
}

@media only screen and (min-width: 1920px){
    .Container{
        width:1920px;
    }
    .Name{
        top:3rem;
        font-size: 3em;
    }
    .nav {
        left: 58%;
        top:3rem;
    }
    .nav ul li{
        padding:10px;
    }
    .nav ul li a{
        padding: 15px;
        font-size:2rem;
    }
    .button1{
        width: 150px;
        height: 50px;
    }
    a{
        font-size: 30px;
        line-height: 45px;
    }
    .dotB {
        position: absolute;
        width: 477.42px;
        height: 167px;
        left: 77.29px;
        top: 0px;
        
        background: #8791EA;
        filter: blur(115px);
    }
    .dotY{
        position: absolute;
        width: 508px;
        height: 508px;
        left: 1202px;
        top: 511px;
    
        background: #FFEA79;
        filter: blur(115px);
    }
    .dotP{
        position: absolute;
        width: 425px;
        height: 588.05px;
        left: 187px;
        top: 1307px;
        
        background: #FC10AC;
        filter: blur(115px);
    }
    .dotpR{
        position: absolute;
        width: 508px;
        height: 508px;
        left: 1162px;
        top: 3116px;
        
        background: rgba(157, 81, 217, 0.98);
        filter: blur(115px);
    }
    .p1{
        top:16em;
        width: 50em;
        height: 40em;
        left: 50%;
    }
    .Title{
        top: 15em;
        width: 40em;
        height:30em;
        left: 10%;
    }
    .Title h1{
        top: 100px;
        font-size: 4em;
        line-height: 1.2em;
    }
    .Title .Apt{
        top: 450px;
        width: 205px;
        height: 70px;
    }
    .Title .Apt a{
        font-size: 25px;
    }
    .p2{
        top:55em;
        width: 55em;
        height: 58em;
    }
    .dscpt1{
        top:1200px;
        width: 600px;
        height: 350px;
    }
    .dscpt1 h1{
        width: 800px;
        height:100px;
        line-height: 1em;
        font-size: 4.5em;
        top:0px;
    }
    .dscpt1 p{
        width: 500px;
        height: 300px;
        top: 100px;
        font-size: 50px;
        line-height: 50px;;
    }
    .p3{
        top:105em;
        width: 40em;
        height: 50em;
    }
    .dscpt2{
        top:125em;
        width: 600px;
        height: 350px;
    }
    .dscpt2 h1{
        width: 800px;
        height:100px;
        line-height: 1em;
        font-size: 4.5em;
        top:0px;
    }
    .dscpt2 p{
        width: 500px;
        height: 300px;
        top: 100px;
        font-size: 50px;
        line-height: 50px;;
    }
    .p4{
        top:155em;
        width: 40em;
        height: 50em;
    }
    .dscpt3{
        top:170em;
        width: 600px;
        height: 350px;
    }
    .dscpt3 h1{
        width: 800px;
        height:100px;
        line-height: 1em;
        font-size: 4.5em;
        top:0px;
    }
    .dscpt3 p{
        width: 600px;
        height: 300px;
        top: 100px;
        font-size: 50px;
        line-height: 50px;;
    }

    .Developers{
        height:15%;
        top: 3400px;
        left: 280px;
    }
    .Developers h1{
        top: 1.5em;
        left: 395px;
        font-size: 70px;
        width: 800px;
    }
    .Developers .Click{
        top: 18em;
        left: 570px;
        width: 200px;
        height: 73px;
    }
    .contacts{
        top: 3870px;
        width: 1500px;
        height: 200px;
    }
    .contacts .OH{
        left:0px;
        width:550px;
        height: 200px;
    }
    .contacts .OH p{
        font-size: 30px;
        line-height: 45px;
    }
    .contacts .Address{
        left:600px;
        width:550px;
        height:200px;
    }
    .contacts .Address p{
        font-size: 30px;
        line-height: 45px;
    }
    .contacts .Email{
        left:1180px;
        width:550px;
        height:200px;
    }
    .contacts .Email p{
        font-size: 30px;
        line-height: 45px;
    }
    .line{
        top: 4100px;
    }
   



}