*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
    width: 100%;
    min-height: 100vh;
    background: #1F0F42;
}
.Container{
    position: relative;
    width: 1024px;
    height: 768px;
}
.Name{
    position: absolute;
    width: 139px;
    height: 38px;
    left: 7%;
    top: 3rem;

    font-family: 'Outfit';
    font-style: normal;
    font-weight: 900;
    font-size: 2em;
    line-height: 38px;

    color: #FFFFFF;
}
.nav{
    position: absolute;
    width: 50%;
    height: 33px;
    left: 50%;
    top: 3rem;
}
.nav ul li{
    display: inline-block;
    padding: 5px;
}
.nav ul li a{
    padding: 10px;
    text-decoration: none;
    font-family: 'Outfit', sans-serif;
    color: rgb(255, 255, 255);
    font-style: normal;
    font-weight: 400;
    font-size: 1.3rem;
    line-height: 25px;
    text-align: center;
}
.button1 {
    width: 88px;
    height: 33px;
    left: 864px;
    top: 56px;
    background: linear-gradient(90deg, #FDDC2D 0%, #FB3AB9 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    border-style: none;
}
a{
    text-decoration: none;
    font-family: 'Outfit', sans-serif;
    color: rgb(255, 255, 255);
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
}
.title{
    position: absolute;
    width: 85.5%;
    height: 45.86px;
    left: 7%;
    top: 8rem;
}
.title .line{
    position: absolute;
    width: 100%;
    height: 8%;
    left: 0px;
    top: 50px;

    background: #FFFFFF;
}
.title h1{
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    font-size: 2em;
    line-height: 1.5em;
    text-align: left;

    color: #FFFFFF;
}
.Sched{
    position: absolute;
    width: 40%;
    height: 50%;
    left: 31%;
    top: 35%;
}
.Sched h1{
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 48px;

    text-align: center;
    color: #FFFFFF;
}
.date label{
    position:absolute;
    top: 18%;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 32px;
    
    text-align: left;
    color: #FFFFFF
}
input[type=date]{
    box-sizing: border-box;

    position: absolute;
    width: 100%;
    height: 10%;
    left: 0px;
    top: 25%;

    background: #E9E8E8;
    border: 1px solid #FFFFFF;

    font-family: 'Outfit', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 25px;
    text-align: center;

    color: #1F0F42;
}
.hour label{
    position:absolute;
    top: 38%;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 32px;
    
    text-align: left;
    color: #FFFFFF
}
input[type=time]{
    box-sizing: border-box;

    position: absolute;
    width: 100%;
    height: 10%;
    left: 0px;
    top: 45%;

    background: #E9E8E8;
    border: 1px solid #FFFFFF;

    font-family: 'Outfit', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 25px;
    text-align: center;

    color: #1F0F42;
}
input[type=submit]{
    position: absolute;
    width: 106px;
    height: 37px;
    left: 129%;
    top: 112%;

    background: #FDDC2D;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;

    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
    cursor:pointer; 

    color: #FFFFFF;
}
.buttons{
    position: absolute;
    width: 400px;
    height: 38px;
    left: 7%;
    top: 91%;
}
.buttons .b{
    position: absolute;
    width: 68px;
    height: 38px;
    left: 0px;
    top: 0px;
}
.buttons .b a{
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
}

@media only screen and (min-width: 1366px){
    .Container{
        width: 1366px;
    }
    .nav {
        left: 50%;
    }
    .nav ul li {
        padding-left: 3em;
    }
    .nav ul li a{
        font-size: 1.5rem;
    }
    .Sched{
        width: 30%;
        left: 33%;
    }
    input[type=submit]{
        left: 171.3%;
    }
    .buttons{
        top:91.5%;
    }
}

@media only screen and (min-width:1920px){
    .Container{
        width:1920px;
        height:1080px;
    }
    .Name{
        top:3rem;
        font-size: 3em;
    }
    .nav {
        left: 58%;
        top:3rem;
    }
    .nav ul li{
        padding:10px;
    }
    .nav ul li a{
        padding: 15px;
        font-size:2rem;
    }
    .button1{
        width: 150px;
        height: 50px;
    }
    a{
        font-size: 30px;
        line-height: 45px;
    }
    .title{
        width:85%;
        top: 9rem;
    }
    .title h1{
        font-size: 3em;
        line-height: 2em;
    }
    .title .line{
        top:85px;
    }
    .Sched{
        left:35%;
    }
    .Sched h1{
        font-size: 40px;
        line-height: 48px;
    }
    .date label{
        font-size: 30px;
        line-height: 32px;
    }
    .hour label{
        font-size: 30px;
        line-height: 32px;
    }
    input[type=submit]{
        width: 125px;
        height: 48px;
        left: 170.5%;

        font-size: 30px;
        line-height: 32px;
    }

    .buttons .b a{
        font-size: 30px;
        line-height: 35px;
    }
}